scopeName: "injection.regex-comment.1"
injectionSelector: "string"
patterns: [
	name:  "comment.block"
	begin: "(\\()(\\?#)"
	end:   "\\)"
	beginCaptures:
		1: name: "punctuation.section.expression.begin.round.bracket"
		2: name: "punctuation.definition.comment.block"
	endCaptures:
		0: name: "punctuation.section.expression.end.round.bracket"
	patterns: [
		match: "\\\\."
		name: "constant.escape.backslash"
	]
]
