scopeName: "injection.regex-comment.2"
injectionSelector: "string.quoted.single"
patterns: [{
	begin: """(?x)
		# Triple-quoted string ('Heredoc')
		(?<=
		  ''' \\( \\? x
		| ''' \\( \\? x (?:  i|m  )
		| ''' \\( \\? x (?: im|mi )
		| ''' \\( \\? (?:    i|m  ) x
		| ''' \\( \\? (?:   im|mi ) x
		)
		(?=[imWDSP]*(?:-[imWDSP]*)?\\))
	"""
	end: "(?<!\\\\)(?=''')"
	patterns: [include: "#innards"]
},{
	begin: """(?x)
		# Normal string ('Single-quotes')
		(?<=
		  ' \\( \\? x
		| ' \\( \\? x (?:  i|m  )
		| ' \\( \\? x (?: im|mi )
		| ' \\( \\? (?:    i|m  ) x
		| ' \\( \\? (?:   im|mi ) x
		)
		(?=[imWDSP]*(?:-[imWDSP]*)?\\))
	"""
	end: "(?<!\\\\)(?=')"
	patterns: [include: "#innards"]
}]

repository:
	comment:
		name:  "comment.line.number-sign"
		begin: "(?<!\\\\)#"
		end:   "$|(?=')"
		beginCaptures:
			0: name: "punctuation.definition.comment"
		patterns: [include: "#escape"]

	escape:
		name: "constant.character.escape.backslash"
		match: "(\\\\)."
		captures:
			1: name: "punctuation.definition.escape.backslash"

	innards:
		patterns: [
			{include: "#escape"}
			{include: "#charClass"}
			{include: "#comment"}
		]

	charClass:
		begin: "(?<![^\\\\]\\\\)\\["
		end:   "(?<![^\\\\]\\\\)\\]|(?=')"
		patterns: [include: "#escape"]
