scopeName: "text.oniguruma-comment"
injectionSelector: "string"
patterns: [{
	name:  "comment.block.oniguruma"
	begin: "(\\()(\\?#)"
	end:   "\\)"
	beginCaptures:
		1: name: "punctuation.section.expression.begin.round.bracket.oniguruma"
		2: name: "punctuation.definition.comment.block.oniguruma"
	endCaptures:
		0: name: "punctuation.section.expression.end.round.bracket.oniguruma"
	patterns: [{
		match: "\\\\."
		name: "constant.escape.backslash.oniguruma"
	}]
},{
	name:  "comment-ish.line.oniguruma"
	begin: "(?<=\\s|^)#"
	end:   "$|(?=[\"'`])"
}]
