name: "Oniguruma Comment"
scopeName: "text.oniguruma-comment"
fileTypes: []
injectionSelector: "string"
tests:
	quotedDouble: " (?# Comment) #aa "
	multiline: """
		
		Text (?# Comment) Text
	"""
patterns: [{
	begin: "\\(\\?#"
	end: "\\)"
	name: "comment.block.oniguruma"
	patterns: [{
		match: "\\\\."
		name: "constant.escape.backslash.oniguruma"
	}]
}, {
	name:  "comment-ish.line.oniguruma"
	begin: "(?<=\\s|^)#"
	end:   "$|(?=[\"'`])"
}]
